

<!-- Intro -->
<div class="container homepage__section--intro" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="wow fadeInUp">Hi, I'm Sterling.</h1>
            <br>
            <h2 class="wow bounceIn">I'm a Web Developer.</h2>
            <br>
            <br>
            <a href="#about"><button class="about-btn wow fadeInLeft"> MORE ABOUT ME </button></a>
            <a href="#contact"><button class="contact-btn wow fadeInRight"> CONTACT ME </button></a>
        </div>
    </div>
</div>
<!-- End -->



<!-- Featured Project -->
<div class="container homepage__section--featured">
    <div class="row">
        <div class="col-sm-12">
            <h3>Featured Project:</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
            <br>
            <image src="img/pb-1.png" height="200" width="350">
        </div>
        <div class="col-sm-6 wow fadeInRight">
            <h2>Product Button</h2>
            <br>
            <p id="about"> Product Button is a web application that displays a random product when you push the button. This was created during the 2014 Product Hunt Hackathon, and was chosen as a finalist.</p>
            <br>
            <a href="/#/product-button"><button class="btn btn-success">More about this project</button></a>
        </div>
    </div>
</div>
<!-- End -->



<!-- About -->
<div class="container homepage__secton--about">
    <div class="row">
        <div class="col-sm-12">
            <image class="profile-img wow fadeInUp" src="img/profile.png" height="140" width="175">
                <br>
                <h2 class="wow fadeInLeft">About Me</h2>
                <br>
                <p class="wow fadeInRight">I started making websites using WordPress. That went well, and I was able to make some pretty good sites. Eventually I started tinkering with the code files. I quickly realized WordPress was not nearly as customizable or organized as I would have liked, and making websites manually is the way to go. Since then I've been doing Web Development.</p>
        </div>
    </div>
</div>
<!-- End -->



<!-- Featured Project -->
<!-- <div class="container homepage__section--featured2">
    <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
            <br>
            <image src="img/pb-1.png" height="200" width="350">
        </div>
        <div class="col-sm-6 wow fadeInRight">
            <h2>Product Button</h2>
            <br>
            <p id="about"> Product Button is a web application that displays a random product when you push the button. This was created during the 2014 Product Hunt Hackathon, and was chosen as one of the finalists.</p>
            <br>
            <a href="/#/product-button"><button class="btn btn-success">More about this project</button></a>
        </div>
    </div>
</div> -->
<!-- End -->



<!-- Portfolio -->
<section class="container homepage__section--portfolio">
    <div class="row">
        <div class="col-md-12">
            <h2 class="wow fadeInUp">Recent Work</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4 wow fadeInLeft">
            <a href="/#/random-quote">
                <div class="project-container">
                    <div class="image-container">
                        <image src="img/random-quote.png" class="portfolio-img">
                    </div> <!-- End -->
                    <h4>Random Quote</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 wow fadeInUp">
            <a href="/#/pattaya">
                <div class="project-container">
                    <div class="image-container">
                        <image src="img/chopsticks.png" class="portfolio-img">
                    </div> <!-- End -->
                    <h4>Thai Restaurant Website</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 wow fadeInRight">
            <a href="/#/product-button">
                <div class="project-container">
                    <div class="image-container">
                        <image src="img/pb-4.png" class="portfolio-img">
                    </div> <!-- End -->
                    <h4>Product Button</h4>
                </div>
            </a>
        </div>

    </div>
</section>
<!-- End -->



<!-- Contact -->
<div class="container homepage__section--contact" id="contact">
    <div class="row">
        <div class="col-md-12">
            <h1 class="wow fadeInUp">Contact</h1>
            <br>
            <a class="wow bounceIn" href="mailto:SterlingSRQ@gmail.com">SterlingSRQ@gmail.com</a>
            <br>
        </div>
    </div>
</div>
<!-- End -->



<!-- Footer -->
<div class="footer container">
    <div class="row">
        <div class="col-md-12">
            <h3>Sterling Whitley</h3>
            <h4>&copy; Copyright 2014 Sterling Whitley</h4>
        </div>
    </div>
</div>
<!-- End -->
