


    <!-- Intro -->
    <div class="container project__section--intro" data-stellar-background-ratio="0.5">
        <div class="row">
            <div class="col-md-12">
                <h1>Design/Development of PattayaDining.com</h1>
                <h2>Simple Restaurant Website</h2>
                <br>
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Breadcrumb -->
    <div class="container project__section--backlink">
        <div class="row">
            <div class="col-md-8-offset-2">
                <a href="/#/">Back to portfolio</a>
                <hr>
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Image slider -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="slides">
                    <div>
                        <img src="../img/pattaya.png" class="img-responsive" alt="Pattaya" />
                    </div>
                    <div>
                        <img src="../img/pattaya.png" class="img-responsive" alt="Pattaya" />
                    </div>
                    <div>
                        <img src="../img/pattaya.png" class="img-responsive" alt="Pattaya" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Content -->
    <div class="container project__section--content">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h3>Technologies: HTML/CSS & JavaScript</h3>
                <br>
                <p>Pattaya Thai & Sushi is my favorite Thai and Sushi restaurant. In most Thai restaurants you'll find the standard 'Pad Thai' as the go to Thai dish. At Pattaya Thai & Sushi, you'll find dozens of unique dishes from Pattaya Thailand.</p>
                <br>
                <p>This simple restaurant website was built to be the online directory for potential customers to locate the restaurant and check out the menu.</p>
                <br>
                <br>
                <br>
                <a href="http://www.pattayadining.com" target="_blank"><button class="btn btn-primary">Visit The Website</button></a>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Footer -->
    <div class="footer container">
        <div class="row">
            <div class="col-md-12">
                <h3>Sterling Whitley</h3>
                <h4>&copy; Copyright 2014 Sterling Whitley</h4>
            </div>
        </div>
    </div>
    <!-- End -->


