


    <!-- Intro -->
    <div class="container project__section--intro" data-stellar-background-ratio="0.5">
        <div class="row">
            <div class="col-md-12">
                <h1>Product Button</h1>
                <h2>ProductHunt Hackathon 2014 Finalist</h2>
                <br>
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Breadcrumb -->
    <div class="container project__section--backlink">
        <div class="row">
            <div class="col-md-8-offset-2">
                <a href="/#/">Back to portfolio</a>
                <hr>
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Featured In -->
    <div class="container project__section--featured">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h4>Featured In:</h4>
                <img src="../img/press/producthunt.png" class="img__press--ph" alt="Product Hunt">
                <img src="../img/press/ph-hack.png" class="img__press--ph-hack" alt="Product Hunt Hackathon">
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <!-- End -->


    <hr>
    <br>
    <br>



    <!-- Image slider -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="slides">
                    <div>
                        <img src="../img/pb-1.png" class="img-responsive" alt="Pattaya" />
                    </div>
                    <div>
                        <img src="../img/pb-2.png" class="img-responsive" alt="Pattaya" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <!-- End -->



    <!-- Content -->
    <div class="container project__section--content">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h3>
                    Technologies:
                    <img src="../img/tech/html5-css3.svg" class="img__tech--html" alt="html5 + css3">
                    <img src="../img/tech/sass.png" class="img__tech--sass" alt="Sass">
                    <img src="../img/tech/angular.png" class="img__tech--angular" alt="AngularJS">
                    <img src="../img/tech/php.png" class="img__tech--php" alt="PHP">
                </h3>
                <br>
                <p>Product Button displays a random product when you push the button. The product information is rendered using the Product Hunt API.</p>
                <br>
                <p>Product Button was created in one weekend during the Product Hunt Hackathon. Out of the 91 hackathon submissions, Product Button was named a finalist.</p>
                <br>
                <br>
                <br>
                <a href="http://www.productbutton.com" target="_blank"><button class="btn btn-primary">Check out Product Button</button></a>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Footer -->
    <div class="footer container">
        <div class="row">
            <div class="col-md-12">
                <h3>Sterling Whitley</h3>
                <h4>&copy; Copyright 2014 Sterling Whitley</h4>
            </div>
        </div>
    </div>
    <!-- End -->
