


    <!-- Intro -->
    <div class="container project__section--intro" data-stellar-background-ratio="0.5">
        <div class="row">
            <div class="col-md-12">
                <h1>Random Quote</h1>
                <h2>Chrome Extension Development</h2>
                <br>
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Breadcrumb -->
    <div class="container project__section--backlink">
        <div class="row">
            <div class="col-md-8-offset-2">
                <a href="/#/">Back to portfolio</a>
                <hr>
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Featured In -->
    <div class="container project__section--featured">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h4>Featured In:</h4>
                <img src="../img/press/producthunt.png" class="img__press--ph" alt="Product Hunt">
                <img src="../img/press/dottech.png" class="img__press--dot" alt="Dot Tech">
                <img src="../img/press/free-software.png" class="img__press--freesoftware" alt="I love free software">
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <!-- End -->


    <hr>
    <br>
    <br>
    <br>


    <!-- Image slider -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="slides">
                    <div>
                        <img src="../img/random-quote-portfolio.png" class="img-responsive" alt="Random Quote">
                    </div>
                    <div>
                        <img src="../img/random-quote.png" class="img-responsive" alt="Random Quote">
                    </div>
                    <div>
                        <img src="../img/random-quote-portfolio.png" class="img-responsive" alt="Random Quote">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Content -->
    <div class="container project__section--content">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h3>
                    Technologies:
                    <img src="../img/tech/html5-css3.svg" class="img__tech--html" alt="html5 + css3">
                    <img src="../img/tech/javascript.png" class="img__tech--js" alt="JavaScript">
                </h3>
                <br>
                <p>Random Quote is a chrome plugin designed to show you interesting quotes throughout your day while online. Once Random Quote is installed, there will be an interesting quote instead of a blank page when you open a new tab.</p>
                <br>
                <p>This is a simple and fun way to see interesting quotes throughout the day without going out of your way to look them up.</p>
                <br>
                <br>
                <br>
                <a href="https://chrome.google.com/webstore/detail/random-quote/hhompecpighdhclapocgaaadjnmgahoi" target="_blank"><button class="btn btn-success">Install Random Quote For Free</button></a>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <!-- End -->


    <!-- Footer -->
    <div class="footer container">
        <div class="row">
            <div class="col-md-12">
                <h3>Sterling Whitley</h3>
                <h4>&copy; Copyright 2014 Sterling Whitley</h4>
            </div>
        </div>
    </div>
    <!-- End -->

