// ******************************************
//  Global Utilities
// ******************************************

// Import if Google URL is defined
@if variable-exists(font-url--google) {
    @import url($font-url--google);
}

// Calculate em values
@function em($target, $context: $base__text-size) {
    @return ($target / $context) * 1em;
}

// Mixins
@mixin background-img($img, $w, $h, $disp:block) {
    background-image: url("#{path-img}/#{$img}");
    background-repeat:no-repeat;
    background-position:center center;
    width:$w;
    height:$h;
    display:$disp;
}

@mixin intro-button ($main-color, $text-color) {
    font-family:$font-family--text;
        font-size:1.25em;
        border:none;
        background:none;
        border:1px solid $main-color;
        border-radius:5px;
        color:$main-color;
        padding:0.5em 1em 0.5em 1em;
        margin-right:1em;
        &:hover {
            background:$main-color;
            color:$text-color;
        }
}

@mixin margins {
    margin-top:em(125px);
    margin-bottom:em(125px);
}

// Media Queries
@mixin mq($break) {
    @if $break == "small" {
        @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
            @content;
        }
    }
    @else if $break == "medium" {
        @media (min-width: $brkpoint-md) and (max-width:$brkpoint-lg) {
            @content;
        }
    }
    @else if $break == "large" {
        @media (min-width: $brkpoint-lg) {
            @content;
        }
    }
    @else {
        @error "Whoops! No value could be retrived for '#{$break}'.";
    }

}