/***************************
*   Homepage (index)
****************************/


.homepage__section--intro {
    background-image:url($img);
    background-size:cover;
    background-repeat:no-repeat;
    width:100% !important;
    height:100% !important;
    .row {
        width:100% !important;
        height:100% !important;
        .col-md-12 {
            width:100% !important;
            height:100% !important;
        }
    }
    text-align:center;
    padding-top:13%;
    h1 {
        color:$color-primary--title;
        font-size:3.75em;
        font-weight:400;
    }
    h2 {
        color:$grey-dark;
        font-size:2em;
        font-weight:400;
    }
    .about-btn {
        @include intro-button($emerald, $white);
        &:focus {
            outline:none;
        }
    }
    .contact-btn {
        @include intro-button($white, $black);
        &:focus {
            outline:none;
        }
    }
}


.homepage__section--featured {
    width:100%;
    padding-top:2.5em;
    padding-bottom:2.5em;
    background-color:$off-white;
    text-align:center;
    h3 {
        color:$grey-primary;
    }
    h2 {
        color:$black;
    }
    p {
        text-align:left;
        font-weight:500;
        text-indent:2em;
    }
}


.homepage__secton--about {
    padding-right:3.5em;
    padding-left:3.5em;
    text-align:center;
    @include margins;
    h2 {
        color:$color-primary--title;
    }
    .profile-img {
        border:1px solid $white;
        border-radius:50%;
    }
    p {
        text-align:left;
        font-weight:500;
        text-indent:2em;
    }
}


.homepage__section--portfolio {
    text-align:center;
    @include margins;
    a:hover {
        text-decoration:none;
    }
    h2 {
        margin-bottom:2em;
    }
    .image-container {
        height:12em;
        width:20em;
    }
    h4 {
        padding-top:em(3px);
        font-size:1.1em;
        font-weight:600;
        color:$grey-dark;
    }
    .project-container {
        margin:0 auto;
        height:15em;
        width:20em;
        margin:0 auto;
        border:1px solid $off-white;
        border-radius:5px;
        &:hover {
            opacity:0.5;
        }
    }
}


.homepage__section--contact {
    text-align:center;
    margin-top:2.5em;
    padding-top:em(75px);
    padding-bottom:em(175px);
    background: url($img) no-repeat center center fixed;
    width: 100%;
    @include background-size(cover);
    position: relative;
    h1 {
        font-size:3em;
        color:$grey-medium;
        font-weight:400;
    }
    a {
        font-size:3em;
        color:$emerald;
        text-shadow:0 0 0 4px rgba(0,0,0, 0.8);
    }
}



.homepage__section--featured2 {
    width:100%;
    padding-top:2.5em;
    padding-bottom:2.5em;
    background-color:$off-white;
    text-align:center;
    h3 {
        color:$grey-primary;
    }
    h2 {
        color:$black;
    }
    p {
        text-align:left;
        font-weight:500;
        text-indent:2em;
    }
}












