/***************************
*   Homepage Media Queries
****************************/

/***************************
*   Small Viewport
****************************/
.homepage__section--intro {
    @include mq(small) {
        padding-top:30%;
    }
}

.homepage__section--featured {
    @include mq(small) {
        height:40em;
    }
}

.homepage__section--portfolio {
    .project-container {
        @include mq(small) {
            margin:auto;
            margin-top:50px;
            margin-bottom:50px;
        }
        @include mq(medium) {
            margin:auto;
            margin-top:50px;
            margin-bottom:50px;
        }
    }
}

.homepage__section--contact {
    a {
        @include mq(small) {
            font-size:2.25em;
        }
    }
}