/***************************
*   Project Pages
****************************/
.portfolio-img {
    width:100%;
    height:100%;
}

.project__section--intro {
    text-align:center;
    background: url($img) no-repeat center center;
    padding-top:5em;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    h2 {
        color:#444;
        font-weight:400;
    }
}


.project__section--backlink {
    padding-top:1em;
    font-size:1.5em;
}

.project__section--content {
    text-align:center;
    margin-top:em(75px);
    padding-right:2em;
    padding-left:2em;
    p {
        text-align:left;
        text-indent:2em;
    }
}